body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121213;
  }
     
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px; /* Set a maximum width */
    margin: 0 auto; /* Center the container horizontally */
    background-color: #f0f0f0;
    border-radius: 20px;
  }
  
  .circle {
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  #grid{
    margin-top: 10px;
    text-align: center;
  }
  .letter {
      border: 2px solid black;
      border-radius: 5px;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
      
      
  }
     
  .row{

      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }